[Unit]
Description=Every hour at the 50th minute push the current database of weather data to the Beasley Neighborhood Association Weather Station Server. This is the .timer file for the systemd facility.

[Timer]
OnCalendar=*-*-* *:50:00
OnBootSec=1min
OnActiveSec=15
AccuracySec=1
Unit=pushWeatherDatabaseToServer.service

[Install]
WantedBy=multi-user.target
